[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
attrs = "*"
backcall = "*"
bleach = "*"
certifi = "*"
chardet = "*"
click = "*"
colorama = "*"
decorator = "*"
defusedxml = "*"
docutils = "*"
entrypoints = "*"
gunicorn = "*"
idna = "*"
ipykernel = "*"
ipython = "*"
ipywidgets = "*"
itsdangerous = "*"
jedi = "*"
joblib = "*"
jsonschema = "*"
jupyter = "*"
jupyter-client = "*"
jupyter-core = "*"
kivy-garden = "*"
mistune = "*"
nbconvert = "*"
nbformat = "*"
nltk = "*"
notebook = "*"
numpy = "*"
oauthlib = "*"
pandocfilters = "*"
parso = "*"
pickleshare = "*"
pygame = "*"
pypiwin32 = "*"
pyrsistent = "*"
python-dateutil = "*"
python-dotenv = "*"
pywin32 = "*"
pywinpty = "*"
pyzmq = "*"
qtconsole = "*"
requests = "*"
requests-oauthlib = "*"
scikit-learn = "*"
scipy = "*"
six = "*"
terminado = "*"
testpath = "*"
textblob = "*"
tornado = "*"
traitlets = "*"
tweepy = "*"
twitter = "*"
urllib3 = "*"
virtualenv = "*"
wcwidth = "*"
webencodings = "*"
widgetsnbextension = "*"
Flask = "*"
ipython_genutils = "*"
Jinja2 = "*"
jupyter_console = "*"
Kivy = "*"
"kivy-deps.angle" = "*"
"kivy-deps.glew" = "*"
"kivy-deps.gstreamer" = "*"
"kivy-deps.sdl2" = "*"
MarkupSafe = "*"
prometheus_client = "*"
prompt_toolkit = "*"
Pygments = "*"
PySocks = "*"
Send2Trash = "*"
Werkzeug = "*"

[requires]
python_version = "3.6"
